<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/style.css">
    <title>Article</title>
</head>

<body>
    <h1>Article details</h1>

    <p>Title: <%= article.title %>
    </p>
    <p>ID: <%= article.id %>
    </p>

    <a href="/articles">Back</a>
</body>

</html>